@use '/src/sass/index.scss' as *;
.main {
	padding: calc($padding-4 * 2);
	display: grid;
	gap: calc($padding-4 * 2);
}
.sectionTitle {
	@include themify($themes) {
		color: themed('text');
	}
	font-size: $fs-md;
	font-weight: $fw-bold;
	margin-bottom: calc($margin-4 * 2);
	display: flex;
	align-items: center;
	justify-content: space-between;

	.backLink {
		display: flex;
		align-items: center;
		gap: $gap-2;
		@include nav-link;
		@include themify($themes) {
			color: themed('textAlt');
		}
		font-size: $fs-sm;
	}
}
.posts {
	display: grid;
	@include breakpoint-md {
		grid-template-columns: 1fr 1fr;
		gap: $gap-4;
	}
	@include breakpoint-lg {
		grid-template-columns: 1fr 1fr 1fr;
		gap: calc($gap-4 * 2);
	}
}
