@use '/src/sass/index.scss' as *;

.post {
	display: grid;
	gap: $gap-3;
	margin-bottom: calc($margin-4 * 2);
	.date {
		@include themify($themes) {
			color: themed('textAccent');
		}
		font-size: $fs-sm;
		font-weight: $fw-bold;
	}
	.titleContainer {
		@include link-reset;
		@include themify($themes) {
			color: themed('text');
		}
		font-size: $fs-md;
		font-weight: $fw-bold;
		display: flex;
		gap: $gap-4;

		.title {
			&:hover {
				text-decoration: underline;
			}
		}
		.arrowIcon {
			flex-shrink: 0;
			position: relative;
			top: 0.25em;
		}
	}
	.body {
		@include themify($themes) {
			color: themed('textAlt');
		}
		text-overflow: ellipsis;
	}

	.footer {
		display: flex;
		gap: $gap-4;
		align-items: center;
	}
}
