@use '/src/sass/index.scss' as *;

.post {
	display: grid;
	margin-bottom: calc($margin-4 * 2);
	align-content: start;
	grid-template-rows: repeat(3, auto) 1fr auto;
	.img {
		display: flex;
		margin-bottom: calc($margin-3 * 2);
		max-height: 240px;
		img {
			object-fit: cover;
			width: 100%;
		}
	}
	.date {
		@include themify($themes) {
			color: themed('textAccent');
		}
		font-size: $fs-sm;
		font-weight: $fw-bold;
		margin-bottom: $margin-3;
	}
	.titleContainer {
		@include link-reset;
		@include themify($themes) {
			color: themed('text');
		}
		font-size: $fs-md;
		font-weight: $fw-bold;
		display: flex;
		gap: $gap-4;
		margin-bottom: $margin-2;
		.title {
			&:hover {
				text-decoration: underline;
			}
		}
		.arrowIcon {
			flex-shrink: 0;
			position: relative;
			top: 0.25em;
			margin-left: auto;
		}
	}
	.body {
		@include themify($themes) {
			color: themed('textAlt');
		}
		text-overflow: ellipsis;
		margin-bottom: calc($margin-3 * 2);
	}

	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.tags {
			display: flex;
			flex-wrap: wrap;
			gap: $gap-4;
			align-items: center;
		}
	}
}
