@use '/src/sass/index.scss' as *;

.comment {
	display: flex;
	flex-direction: column;
	gap: $gap-1;

	.header {
		.author {
			font-weight: $fw-semibold;
			@include themify($themes) {
				color: themed(textAccent);
			}
		}
		.date {
			font-size: $fs-sm;
			@include themify($themes) {
				color: themed(textAlt);
			}
		}
	}
	.body {
		padding-inline: $padding-2;
		font-size: $fs-sm;
	}
}
