@use 'src/sass/index.scss' as *;
.commentSection {
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: $gap-4;
	padding: $padding-4;
	@include themify($themes) {
		border: 1px solid themed(inputBorder);
	}
	.noUser {
		margin: 0 auto;
		a {
			@include link;

			text-decoration: underline;
			@include themify($themes) {
				color: themed(textAlt);
			}
		}
	}
	hr {
		border: 0;
		@include themify($themes) {
			border-top: 0.5px solid themed('inputBg');
		}
	}
}
