@use '/src/sass/index.scss' as *;
.bookmarks {
	display: grid;
	@include breakpoint-md {
		grid-template-columns: 1fr 1fr;
		gap: $gap-4;
	}
	@include breakpoint-xl {
		grid-template-columns: 1fr 1fr 1fr;
		gap: calc($gap-4 * 2);
	}
}
